.form-select-size {
    width: 30% !important;
}
.form-date-picker-size{
    width: 20% !important;
}

.customer,.serialnumber{
//    flex-wrap: nowrap !important;
//    max-width: 1300px;
//    margin: 40px auto 0 auto;
//    display: flex;
color: blue;
}
.dynamic-modal-container-row{
    display: flex;
    flex-wrap: wrap;
}
.dynamic-modal-container-column{
 
}