
<div class="example-container mat-elevation-z8">
        <div class="example-header">
                <mat-form-field className="align">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
                <div class="col-12">
                    <div class="btn-group btn-group" role="group" aria-label="...">
                        <button (click)="openCreateDialog()" class="btn btn-success">Create {{pageTitle}}</button>
                        <button (click)="fetchUnitInquiryData()" class="btn btn-brand" matTooltip="Unit Inquiry">Unit Inquiry</button>
                        <button (click)="fetchDeviceTypeData()" class="btn btn-brand" matTooltip="Device Types">Device Types</button>
                        <button (click)="showDeviceTypeErrorHandler()" class="btn btn-danger" matTooltip="Device Types">Device Types Error Handler Example</button>
                        <button (click)="fetchLocationData()" class="btn btn-brand" matTooltip="Locations">Locations</button>
                        <button (click)="fetchIndustryData()" class="btn btn-brand" matTooltip="Industries">Industries</button>
                        <button (click)="fetchClientTypeData()" class="btn btn-brand" matTooltip="Client Types">Client Types</button>
                        <button (click)="fetchUserTypeData()" class="btn btn-brand" matTooltip="User Types">User Types</button>
                    </div>
                  </div>
                <h1>&nbsp;&nbsp;{{pageTitle}}</h1>
              </div>
   <kt-dynamic-table  [tableColumn]="tableColumn" [pageName]="pageTitle" [tableData]="tableData" [searchData]="searchData"  (ratingClicked)='onRatingClicked($event)'
   (deleteClicked)='onDeleteClicked($event)'></kt-dynamic-table>
    <mat-paginator #paginator
    [length]="totalData"
    [pageSize]="5"
    (page)="setPagination($event)">
  </mat-paginator>
  </div>

  <button (click)="openReclaimUnitListTaskDialog()" class="btn btn-success">TASKS</button>
  <!-- Mat- Table Accordion -->
<h1>Mat Table Accordion </h1>
<p>Reference: <a href="https://stackblitz.com/edit/table-like-mat-accordion?file=app%2Fapp.component.scss">Mat Table Accordion Link</a></p>
<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="vesselName">Name</span>
    <span class="mat-header-cell" mat-sort-header="vesselId">Vessel Id</span>
    <span class="mat-header-cell" mat-sort-header="vesselStatus">Status</span>
    <span class="mat-header-cell" mat-sort-header="ircs">IRCS</span>
  </section>

  <mat-expansion-panel *ngFor="let item of displayedRows$ | async">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{item.vesselName}}</span>
      <span class="mat-cell">{{item.vesselId}}</span>
      <span class="mat-cell">{{item.vesselStatus}}</span>
      <span class="mat-cell">{{item.ircs}}</span>
    </mat-expansion-panel-header>
    <div><pre>HHAHAHAHHAA</pre></div>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator #matAccordionPaginator
[length]="totalRows$ | async"
[pageIndex]="0"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
></mat-paginator>

<!-- Tabs -->
<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
    <mat-tab>
        <ng-template mat-tab-label>
           <span class="mat-tab-head-text">Unit Information</span><i class="fa fa-chevron-circle-right" aria-hidden="true" *ngIf="tabIndex == '0'"></i>       
        </ng-template>
        <ng-template matTabContent>
            Content 1
          </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="mat-tab-head-text">Process Reclaim</span><i class="fa fa-chevron-circle-right" aria-hidden="true" *ngIf="tabIndex == '1'"></i>       
         </ng-template>
         <ng-template matTabContent>
            Content 2
          </ng-template>   
    </mat-tab>
  </mat-tab-group>


    
  <!-- RXJS Practice -->
   <!-- 
<div *ngIf="devicetype$ | async as devicetypes">
  <table>
    <tr *ngFor="let devicetype of devicetypes.data">
    <td>{{devicetype.name}} &nbsp; {{devicetype.description}} &nbsp; {{devicetype.isactive}}</td>
    </tr>
  </table>
</div>

<br> 
<p>========================Device Type Table Data =====================================</p>
<div *ngIf="devicetypetabledata$ | async as devicetypetabledata">
    <table>
      <tr *ngFor="let devicetypetabledata of  devicetypetabledata.types">
      <td>{{devicetypetabledata.label}} &nbsp; {{devicetypetabledata.type}}</td>
      </tr>
    </table>
</div>
<p>========================Device Type using MAP rxjs operator  =====================================</p>
<div *ngIf="devicetypeArrayData$  | async as devicetypeArrayData">
    <table>
      <tr *ngFor="let devicetypetabledata of  devicetypeArrayData">
          <td>{{devicetypetabledata.name}} &nbsp; {{devicetypetabledata.description}} &nbsp; {{devicetypetabledata.isdeleted}}</td>
        </tr>
    </table>
</div>

-->
<!-- <p>========================Device Type using CombineLatest  =====================================</p>
<div *ngIf="devicetypeMockDataAndTableData$  | async as devicetypeMockDataAndTableData">
    <table>
      <tr *ngFor="let devicetypetabledata of  devicetypeMockDataAndTableData.mockData.data">
          <td>{{devicetypetabledata.name}} &nbsp; {{devicetypetabledata.description}} </td>
        </tr>
    </table>
</div> -->
  

<!-- <p>========================Device Type using ForkJoin  =====================================</p>
<div *ngIf="devicetypeMockDataAndTableDataForkJoin$  | async as devicetypeMockDataAndTableDataForkJoin">
      <div *ngFor="let devicetypetabledata of devicetypeMockDataAndTableDataForkJoin">
          <table>
          <tr *ngFor="let deviceType of devicetypetabledata.data">
              <td>{{deviceType.name}} &nbsp; {{deviceType.description}} </td>
            </tr>
          </table>
          </div>
</div> -->
<!-- <button (click)="rxjsPractice()" class="btn btn-brand">Behavior Subject</button>
<div *ngIf="deviceTypeMockDataBehaviorSubject$ | async as deviceTypeMockDataBehaviorSubject">

</div>

<p>========================Device Type using Subscribe  =====================================</p>
<div *ngIf="pageTitle == 'Device Type'">
    <table>
      <tr *ngFor="let devicetypetabledata of devicetypeArrayDataSubscribe.mockData.data">
          <td>{{devicetypetabledata.name}} &nbsp; {{devicetypetabledata.description}}</td>
        </tr>
    </table>
</div> -->

<!-- <p>========================Device Type Next Error Complete  =====================================</p>
<div *ngIf="pageTitle == 'Device Type'">
    <table>
      <tr *ngFor="let devicetypetabledata of devicetypeArrayDataSubscribe">
          <td>{{devicetypetabledata.name}} &nbsp; {{devicetypetabledata.description}}</td>
        </tr>
    </table>
</div>  -->